// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$grape: #9590A8;
$deep-grape: #7f7a92;
$twi-light-green: #eff3f4;
$twi-green: #BBCACB;
$deep-twi-green: #9eaaaa;
$twi-gray: #dedede;


// NEW COLORS

$twi-blue: #78A1BB;
$twi-blue-alt: #48687c;

$twi-deep-blue: #293044;
$twi-deep-blue-alt: #3b4667;
