.campaign-admin-dashboard {
  margin-top: 25px;
  background-color: white;
  padding: 20px;
  width: 100%;
  h2 {
    font-size: 20px;
    // margin-bottom: 40px;
    color: $twi-deep-blue;
  }
  h3 {
    font-size: 18px;
    color: #48687c;
  }
  h4 {
    font-size: 14px;
    font-weight: 100;
    color: #48687c;
  }
}

.group-section-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.groups-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(calc(50% - 20px), 1fr));
  // grid-template-columns: 1fr 1fr;
  grid-gap: 0 40px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s ease;
}

.group-section {
  margin-top: 40px;
}

.deployed {
  max-height: 5000px;
}

.followup-chart {
  margin-top: 10px;
  padding: 25px;
  border: 1px solid $twi-gray;
}

.dahsboard-campaign-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.triangle {
  height: 10px;
  width: 10px;
  border-top: 10px solid black;
  border-right: 10px solid white;
  border-left: 10px solid white;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.return {
  transform: rotate(180deg);
}
