.campaign-admin-dashboard {
  width: 40%;
  background-color: white;
  padding: 20px;
  h2 {
    color: $twi-blue-alt;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 25px;
    border-bottom: 4px solid $light-gray;
    padding-bottom: 5px;
  }
  ul {
    list-style-type: none;
    padding: 10px;
    li {
      display: flex;
      justify-content: space-between;
      h3 {
        font-size: 18px;

      }
    }
  }
}
