.campaign-admin-dashboard {
  width: 40%;
  background-color: white;
  padding: 20px;
      width: 100%;
  h2 {
    font-size: 20px;
    margin-bottom: 40px;
  }
  h3 {
    font-size: 18px;
    color: #48687c;
  }
  h4 {
    font-size: 14px;
    color: #48687c;
  }
}

.group-section-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.groups-section {
  display: flex;
  grid-gap: 40px;
}

.group-section {
  margin-bottom: 40px;
  width: 50%;
}
