.campaign-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  align-items: start;
}

.campaign-show-grid {
  grid-template-columns: 1fr 1fr;
    h1 {
      position: sticky;
      top: 80px;
      z-index: 1000;
      background-color: $light-gray;
      padding: 8px 0;
    }
}
