.create-survey-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  @include phone {
    display: block;
  }
}

.survey-form-container {
  max-width: 1000px;
  margin: 0 auto;
  h5, h6 {
    color: $deep-twi-green;
  }
}

.survey-form-element {
  margin-bottom: 15px;
}

.delete-element {
  position: absolute;
  right: 10px;
  top: 0px;
}

.add-delete-survey {
  font-size: 24px;
  color: $twi-blue;
  &:hover {
    color: $twi-deep-blue;
  }
}

.links {
  padding-left: 10px;
}

.prop-section {
  background-color: $light-gray;
  position: relative;
}

