.survey-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  align-items: start;
}

.radio-btn {
  fieldset {
    display: flex;
  }
  legend {
    display: none;
  }
  div {
    margin-right: 10px;
  }
}
