.survey-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  align-items: start;
}

.radio-btn {
  fieldset {
    display: flex;
  }
  legend {
    display: none;
  }
  div {
    margin-right: 10px;
  }
}


.question-card {
  background-color: #fff;
  border: 1px solid $twi-gray;
  border-left: 4px solid $twi-blue;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
