.survey-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  align-items: start;
}

.survey-question-form {
  padding: 30px;
  border-radius: 15px;
  border: thin solid $twi-gray;
  position: sticky;
  top: 20px;
  input, textarea {
    border: thin solid $twi-gray;
  }
  textarea {
    height: 38px;
  }
  input.twi-btn {
    width: 100%;
  }
}