<div class="group-head">
  <h2><%= group.name %></h2>
  <% if policy(group).edit? %>
    <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, groups_path(id: group) %>
  <% end %>
  <% if policy(group).destroy? %>
    <%= link_to('<i class="fas fa-trash"></i>'.html_safe, group_path(group), class:'no-scroll-btn',
      method: :delete,
      data: { confirm: "Etes vous sur de vouloir supprimer le groupe #{group.name} ?" },
      remote: true, id: "delete-group-#{group.id}")
    %>
  <% end %>
</div>
