<% ref = group.users.includes(:user_groups).where(user_groups: {role: 'R'}).first %>

<div class="head">
  <h2><%= group.name %></h2>
  <div class="team">
    <h3><strong>Référent :</strong> <%= ref ? "#{ref.first_name} #{ref.last_name}" : 'A définir' %></h3>
    <div class="avatars">
      <% group.users.each do |user| %>
        <% if user.photo.attached? %>
          <%= cl_image_tag user.photo.key, alt: "profile pic", class: "avatar" %>
        <% else %>
          <%= image_tag 'profile.svg', alt: "profile pic", class: "avatar" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
