<div class="group-grid">

  <ul class='group-cards'>
    <% @groups.each do |group| %>
      <%= render 'group_card', group: group %>
    <% end %>
  </ul>
  <div class="twi-form sticky-form">
    <%= render "form", group: @group, label: @label %>
  </div>

</div>

