<div class="group-grid">

  <div>
    <% @groups.each do |group| %>
      <%= render 'group_card', group: group %>
    <% end %>
  </div>
  <div class="twi-form sticky-form">
    <%= render "form", group: @group, label: 'Créer' %>
  </div>

</div>

