<h1>Mot de passe oublié ?</h1>
<div class="devise-form-container">
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="twi-form">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>

    <div class="form-actions">
      <%= f.button :submit, "Envoyer un lien par email", class: 'twi-btn lblue-btn' %>
    </div>
  </div>
<% end %>

</div>
