<h1>Bienvenue <%= current_user.first_name %></h1>

<% if policy(Survey).create? %>
  <%= link_to 'Créer un questionnaire', new_survey_path %>
<% end %>

<%= link_to 'Deconnexion', destroy_user_session_path, method: :delete %>

<% if policy(Axe).index? %>
  <%= link_to 'Mes Axes', axes_path %>
<% end %>
