<div class="twi-navbar">
  <div class="navbar-msg">
    <h2>Bienvenue <%= current_user.first_name %></h2>
  </div>
  <ul class="menu">
    <% if policy(Survey).create? %>
      <li><%= link_to 'Créer un questionnaire', new_survey_path %></li>
    <% end %>

    <% if policy(Survey).index? %>
      <li><%= link_to 'Mes questionnaires', surveys_path %></li>
    <% end %>
  </ul>
  <div class="actions one-action">
    <%= link_to 'Deconnexion', destroy_user_session_path, method: :delete, class: 'twi-btn grape-btn' %>
  </div>
</div>


