<div class="user-infos">
  <% if user.full_name.nil? %>
    <h3 class='card-user-mail'><%= user.email %></h3>
    <p class='user-status pending-user'><i class="fas fa-exclamation-circle"></i> Validation en attente</p>
  <% else %>
    <div class='user-photo-name'>
      <% if user.photo.attached? %>
        <%= cl_image_tag user.photo.key, alt: "profile pic"%>
      <% else %>
        <%= image_tag 'profile.svg', alt: "profile pic" %>
      <% end %>
      <h3><%= user.full_name %></h3>
    </div>
    <p class='user-status valid-user'><i class="fas fa-check-circle"></i> Invitation acceptée</p>
  <% end %>
</div>
