<div class="nested-fields twi-form survey-form-element prop-section">
  <%= link_to_remove_association '<i class="fas fa-times"></i>'.html_safe, f, class: 'delete-element add-delete-survey' %>
  <%= f.input :title, placeholder: 'Enoncé de la réponse', label: false %>
  <%= f.input :value, placeholder: 'Valeur de la réponse', label: false %>
</div>
