<div class="new-survey-action">
  <% if policy(Survey).create? %>
    <%= link_to 'Créer un nouveau questionnaire', new_survey_path, class: "twi-btn lblue-btn" %>
  <% end %>
</div>

<div class="survey-cards index-survey-cards">
  <% @surveys.each do |survey| %>
    <%= render 'survey_card_linked', survey: survey %>
  <% end %>
</div>
