<div class="survey-cards">
  <%= render 'survey_card', survey: @survey %>
</div>

<div class="question-cards">
  <% @questions.each do |question| %>
    <%= render 'question_card', question: question, current_campaign: @current_campaign %>
  <% end %>
</div>
