<div class="info">
  <%= render 'recommandation_card_head', reco: reco %>
  <p><%= reco.description %></p>
</div>
<div class="right">
  <div class="actions">
    <% if policy(reco).edit? %>
      <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_recommandation_path(reco) %>
    <% end %>
    <% if policy(reco).destroy? %>
      <%= link_to '<i class="fas fa-trash"></i>'.html_safe, recommandation_path(reco), method: :delete, data: { confirm: "Etes vous sur de vouloir supprimer le questionnaire #{reco.title} ?" }, remote: true %>
    <% end %>
  </div>
</div>
