<h1>Mes axes d'analyse
<% if policy(Axe).create? %>
  <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_axe_path, class: 'add-icon' %>
<% end %></h1>

<ul class="axe-cards">
  <% @axes.each do |axe| %>
    <%= render 'axe_card', axe: axe %>
  <% end %>
</ul>
