<h1>Mes axes d'analyse</h1>

<ul class="axe-cards">
  <div class="axes-cards-container">
  <% @axes.each do |axe| %>
    <%= render 'axe_card', axe: axe %>
  <% end %>
  </div>
  <div class="twi-form sticky-form">
    <%= render "form", axe: @axe, label: 'Créer' %>
  </div>
</ul>

