<div class="main-cards-container">
  <div>
    <% @axes.each do |axe| %>
      <%= render 'axe_card', axe: axe %>
    <% end %>
  </div>
  <div class="twi-form sticky-form">
    <%= render "form", axe: @axe, label: @label %>
  </div>
</div>

