<h1>Mes axes d'analyse <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_axe_path, class: 'add-icon' %></h1>

<ul class="axe-cards">
  <% @axes.each do |axe| %>

    <li class="axe-card">
      <div class="axe-info">
        <div class="axe-head">
          <%= link_to axe.title, axe_path(axe) %>

          <% if policy(axe).edit? %>
            <%= link_to "Edit", edit_axe_path(axe) %>
          <% end %>

          <% if policy(axe).destroy? %>
            <%= link_to "Delete", axe_path(axe), method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
        <%# description + image %>
      </div>


    </li>
  <% end %>
</ul>
