<h1>Axes Index</h1>
<% @axes.each do |axe| %>
  <%= link_to axe.title, axe_path(axe) %>

  <% if policy(axe).edit? %>
    <%= link_to "Edit", edit_axe_path(axe) %>
  <% end %>

  <% if policy(axe).destroy? %>
    <%= link_to "Delete", axe_path(axe), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>

<% end %>

<% if policy(Axe).create? %>
  <%= link_to 'Créer un axe', new_axe_path %>
<% end %>
