<h1>Axe Show</h1>
<%= @axe.title %>

<% if policy(@axe).edit? %>
  <%= link_to "Edit", edit_axe_path(@axe) %>
<% end %>

<% if policy(@axe).destroy? %>
  <%= link_to "Delete", axe_path(@axe), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>