<h1>Axe <%= @axe.title.downcase %></h1>

<div class='axe-show-grid'>
  <div class='survey-cards'>
    <% @axe.recommandations.each do |reco| %>
      <div class="white-card small-card" id=<%= "reco-#{reco.id}" %> >
        <%= render 'recommandation_card', reco: reco %>
      </div>
    <% end %>
  </div>
  <div class='twi-form sticky-form'>
    <%= render 'recommandations/form', axe: @axe, recommandation: @recommandation, label: 'Créer' %>
  </div>

</div>
