<h1>Axe <%= @axe.title.downcase %></h1>

<ul class='survey-cards'>
  <% @axe.recommandations.each do |reco| %>
    <li class="survey-card" id=<%= "reco-#{reco.id}" %> >
      <%= render 'recommandation_card', reco: reco %>
    </li>
  <% end %>
</ul>

<%= link_to 'Ajouter une recommandation', new_axe_recommandation_path(@axe), class: 'twi-btn green-btn' %>
