<div class="main-card small-card title-card">
  <div class="info">
    <div class="survey-head">
      <div class="head">
        <h2><%= @axe.title %></h2>
      </div>
    </div>
  </div>
</div>

<div class='axe-show-grid'>
  <div class='survey-cards'>
    <% @axe.recommandations.each do |reco| %>
      <div class="main-card small-card" id=<%= "reco-#{reco.id}" %> >
        <%= render 'recommandation_card', reco: reco %>
      </div>
    <% end %>
  </div>
  <div class='twi-form sticky-form'>
    <%= render 'recommandations/form', axe: @axe, recommandation: @recommandation, label: 'Créer' %>
  </div>

</div>
