<div class='user-card'>
  <%= render 'admin_users/user_elements/user_info', user: user %>
  <%= render 'admin_users/user_elements/user_groups', user: user %>
  <% if user.full_name %>
    <%= render 'admin_users/user_elements/chatroom_link', user: user, chatrooms: chatrooms %>
  <% end %>
</div>
