<div class='search-bar-container'>
  <%= render 'search_bar' %>
</div>

<div class="main-cards-container">
  <div class='user-cards'>
    <% @users.each do |user| %>
      <%= render "user_card", chatrooms: @chatrooms, user: user %>
    <% end %>
  </div>


  <div class="twi-form sticky-form sticky-form-search">
    <%= render "form" %>
  </div>
</div>
