<h2>Groupes</h2>
<ul class='group-cards'>
  <% @groups.each do |group| %>
    <% link_class = @current_group == group ? 'current-group' : 'group-link' %>
    <%= link_to access_groups_path(group: group), class: link_class, method: :put, remote: true do %>
      <%= render 'groups/group_card', group: group %>
    <% end %>
  <% end %>
</ul>
<% unless @chatrooms.empty? %>
  <h2><%= 'Conversation'.pluralize(@chatrooms.length) %></h2>
  <div class="dashboard-chatrooms">
    <% @chatrooms.each do |chatroom| %>
      <%= render 'chatroom_card', chatroom: chatroom %>
    <% end %>
  </div>
<% end %>
