<h2>Groupes</h2>
<ul class='group-cards'>
  <% @groups.each do |group| %>
    <%= render 'group_card', group: group %>
  <% end %>
</ul>
<% unless @chatrooms.empty? %>
  <h2>Conversations</h2>
  <div class="dashboard-chatrooms">
    <% @chatrooms.each do |chatroom| %>
      <%= render 'chatroom_card', chatroom: chatroom %>
    <% end %>
  </div>
<% end %>
