<h2>Groupes</h2>
<%= render 'groups' %>
<h2>Conversations</h2>
<div class="dashboard-chatrooms">
  <% @chatrooms.each do |chatroom| %>
    <%= link_to chatroom_path(chatroom), class: 'chatroom-link' do %>
      <div class="chatroom-card">
        <p><%= chatroom.name %></p>
        <% unless chatroom.new_message_counter(current_user).zero? %>
          <div class="message-notification">
            <p><%= chatroom.new_message_counter(current_user) %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
