.axe-cards {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 16px;
  align-items: start;
  li.axe-card {
    padding: 16px;
    text-decoration: none;
    background-color: #fff;
    margin-bottom: 20px;
    position: relative;
    h2 {
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    a {
      text-decoration: none;
      color: #0E0000;
    }
    i {
      margin-left: 5px;
      color: $grape;
      padding-top: 8px;
      &:hover {
        color: $deep-grape;
      }
    }
    >i {
      position: absolute;
      top: 5px;
      right: 20px;
      font-size: 32px;
      font-weight: bold;
      pointer-events: none;
    }
  }
  .axe-head {
    display: flex;
    align-items: bottom;
  }
}
