ul.axe-cards {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  li.axe-card {
    border-radius: 16px;
    padding: 8px;
    text-decoration: none;
    background-color: $twi-light-green;
    h2 {
      font-size: 25px;
      font-weight: 500;
    }
    i {
      margin-left: 5px;
      color: $grape;
      &:hover {
        color: $deep-grape;
      }
    }
  }
}