.twi-btn {
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  transition: color 0.5s ease-out, background-color 0.5s ease-out;
  &:hover {
    text-decoration: none;
  }
}

.lblue-btn {
  background-color: $twi-blue;
  color: white;
  &:hover {
    background-color: $twi-blue-alt;
    color: white;
  }
}

.dblue-btn {
  background-color: $twi-deep-blue;
  color: white;
  &:hover {
    background-color: $twi-deep-blue-alt;
    color: white;
  }
}

.grape-btn {
  background-color: $grape;
  color: white;
  &:hover {
    background-color: $deep-grape;
    color: white;
  }
}

.green-btn {
  background-color: $twi-green;
  color: white;
  &:hover {
    background-color: $deep-twi-green;
    color: white;
  }
}

.cta-btn {
  background-color: #fff;
  color: $deep-twi-green;
  font-size: 20px;
  border: thin solid $twi-gray;
  &:hover {
    background-color: $twi-gray;
    color: $deep-twi-green;
    border: thin solid $deep-twi-green;

  }
}

.main-cta-btn {
  background-color: #fff;
  color: #000;
  width: 45vw;
  font-size: 18px;
  &:hover {
    background-color: $twi-blue;
  color: #fff;
  }
}

.add-icon {
  font-size: 30px;
  color: $deep-twi-green;
  &:hover {
    color: $twi-green;
  }
}

.survey-form-btn {
  background-color: #fff;
  border: none;
  width: 100%;
  margin-bottom: 50px;
  &:hover {
    background-color: $twi-green;
    color: white;
  }
}

.add-submit {
  border: none;
  background-color: transparent;
  align-self: center;
  position: absolute;
  right: 10px;
  top: 35%;
  font-size: 60px;
}

.full-width-btn {
  width: 100%;
  text-align: center;
}
