.twi-form {
  position: relative;
  padding: 30px;
  border-radius: 5px;
  border: thin solid $twi-gray;
  background-color: #fff;
  .flatpickr-calendar {
    box-shadow: none;
    margin: 0 auto;
  }
  input, textarea, .flatpickr-calendar, select  {
    border: thin solid $twi-gray;
  }
  textarea {
    height: 80px;
  }
  input.twi-btn {
    width: 100%;
  }
  h3 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
  }
  select {
    color: #778086;
  }
}

.sticky-form {
  position: sticky;
  top: 20px;
}


.devise-form-container {
  padding: 0 10vw;
}

.search-form {
  display: flex;
  margin-bottom: 20px;
  .chat-submit-btn {
    height: 38px;
    line-height: 18px;
  }
  input#query {
    border-radius: 4px 0 0 4px;
    border-right: none;
  }
}
