.twi-form {
  padding: 30px;
  border-radius: 15px;
  border: thin solid $twi-gray;
  .flatpickr-calendar {
    box-shadow: none;
    margin: 0 auto;
  }
  input, textarea, .flatpickr-calendar, select  {
    border: thin solid $twi-gray;
  }
  textarea {
    height: 38px;
  }
  input.twi-btn {
    width: 100%;
  }
  h3 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
  }
}

.sticky-form {
  position: sticky;
  top: 20px;
}
