.twi-form {
  position: relative;
  padding: 30px;
  border-radius: 5px;
  border: thin solid $twi-gray;
  border-bottom: 5px solid $twi-blue;
  border-top: 5px solid $twi-blue;
  background-color: #fff;
  .flatpickr-calendar {
    box-shadow: none;
    margin: 0 auto;
  }
  input, textarea, .flatpickr-calendar, select  {
    border: thin solid $twi-gray;
  }
  textarea {
    height: 80px;
  }
  input.twi-btn {
    width: 100%;
  }
  h3 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
  }
  select {
    color: #778086;
  }
}

.sticky-form {
  position: sticky;
  top: 90px;
  @include phone {
    position: relative;
    top: 0;
    width: 100%;
  }
}

.sticky-form-search {
  top: 160px;
}

.search-bar-container {
  position: sticky;
  top: 110px;
  z-index: 1000;
}

.devise-form-container {
  padding: 0 10vw;
}

.search-form {
  display: grid;
  // grid-gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 20px;
  padding-top: 10px;
  position: relative;
  bottom: 30px;
  background: #f4f4f4;
  .chat-submit-btn {
    height: 38px;
    line-height: 18px;
  }
  select {
    border: 1px solid $twi-gray;
  }
  input.middle:focus {
    outline-width: 0;
}
  input#query {
    grid-column: span 3;
    height: 55px;
    border-radius: 45px 0 0 45px;
    border: 1px solid $twi-gray;
    border-right: none;
    &:focus {
      outline: none;
      outline-width: 0;
    }
  }
  select {
    padding-left: 10px;
    border-right: none;
    &:focus {
      outline: none;
    }
  }
}

.icons-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-gap: 5px;
  label {
    cursor: pointer;
    color: $twi-deep-blue;
    font-size: 22px;
    border: 1px solid $twi-gray;
    border-radius: 3px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .6s ease, background-color .6s ease;
    &:hover {
      color: white;
      background-color: $twi-blue;
    }
  }
  .icon-selector:checked + label, {
    color: white;
    background-color: $twi-blue;
  }
}

.icon-item .radio_buttons {
  display: none;
}
