ul.group-cards {
  list-style-type: none;
  padding: 0;
  li.group-card {
    // border: thin solid #000;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    background-color: $twi-light-green;
    margin-bottom: 20px;
    position: relative;
    min-height: 130px;
    h2 {
      font-size: 25px;
      font-weight: 500;
    }
    h3 {
      font-size: 20px;
      font-weight: 200;
    }
    p {
      font-size: 15px;
      font-weight: 100;
    }
    .group-date {
      position: absolute;
      top: 5px;
      right: 20px;
    }
    strong {
      font-weight: 500;
    }
    i {
      margin-left: 5px;
      color: $grape;
      padding-bottom: 10px;
      &:hover {
        color: $deep-grape;
      }
    }
    img {
      height: 85px;
      margin-right: 35px;
    }
  }
  li.fade-card {
    opacity: 0;
    transition: all ease 500ms;
  }
  li.no-diplay {
    display: none;
  }
  .group-head {
    display: flex;
    align-items: center;
  }
}

.group-link {
  color: #000;
  &:hover {
    text-decoration: none;
    color: #000;
  }
  li {
    transition: transform ease 300ms;
    &:hover {
      transform: scale(1.01);
      transition: transform ease 300ms;
    }
  }
}

.current-group {
  color: gray;
  &:hover {
    color: gray;
  }
}
