#header{
  height: 40px;
  width: 100%;
  background-color: #BBCACB;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 25px;
    color: white;
    font-weight: 400;
    padding-top: 8px;
  }
  a {
    margin-right: 7px;
    img.twi-logo {
      height: 20px;
    }
  }
}

.profile-pic {
  position: absolute;
  top: 2.5px;
  right: 2.5px;
  img {
    vertical-align: middle;
    border-style: none;
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
  }
}
