#header{
  height: 40px;
  width: 100%;
  background-color: $twi-deep-blue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1000;
  h1 {
    font-size: 25px;
    color: white;
    font-weight: 400;
    padding-top: 8px;
  }
  a {
    margin-right: 7px;
  }
}
.twi-logo {
  height: 20px;
}

.home-logo {
  position: absolute;
  left: 10px;
  font-size: 25px;
  color: white;
  &:hover {
    color: $twi-blue;
  }
}

.profile-pic {
  position: absolute;
  top: 2.5px;
  right: 2.5px;
  img {
    vertical-align: middle;
    border-style: none;
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
  }
}
