#header{
  height: 40px;
  width: 100%;
  background-color: #BBCACB;
  text-align: center;
  h1 {
    font-size: 20px;
    color: white;
    font-weight: 400;
    padding-top: 8px;
  }
}

.profile-pic {
  position: absolute;
  top: 2.5px;
  right: 2.5px;
  img {
    vertical-align: middle;
    border-style: none;
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
  }
}
