.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.twi-navbar {
  margin-bottom: 40px;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: thin solid $twi-gray;
  .navbar-msg {
    h2 {
      font-size: 25px;
      margin-left: 15px;
      margin-bottom: 0;
      font-weight: 400;
    }
  }
  ul {
    margin: 0;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    li {
      display: inline;
      margin-left: 20px;
      font-size: 20px;
      font-weight: 200;
      a {
        color: #000;
        &:hover {
          text-decoration: none;
          color: $deep-twi-green;
        }
      }
    }
  }
  .actions {
    min-width: 300px;
    padding: 0 15px;
    justify-content: space-between;
    display: flex;
  }

  .one-action {
    min-width: 200px;
    justify-content: flex-end;
  }
}
