<div class="campaign-head">
  <% if policy(campaign).show? %>
    <h2><%= link_to campaign.title, campaign_path(campaign) %></h2>
  <% else %>
    <h2><%= campaign.title %></h2>
  <% end %>
  <% if policy(campaign).edit? %>
    <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_campaign_path(campaign) %>
  <% end %>
  <% if policy(campaign).destroy? %>
    <%= link_to('<i class="fas fa-trash"></i>'.html_safe, campaign_path(campaign), class:'no-scroll-btn',
      method: :delete,
      data: { confirm: "Etes vous sur de vouloir supprimer la campagne #{campaign.title} ?" },
      remote: true)
    %>
  <% end %>
</div>
