<div class="campaign-grid">

  <div class="campaign-cards">
    <div>
    <% @campaigns.each do |campaign| %>
      <div style='position: relative; top: -120px' id=<%= "campaign-#{campaign.id}" %>></div>
      <%= render 'campaign_card', campaign: campaign, title: false %>
    <% end %>
    </div>
  </div>

  <div class="twi-form">
    <%= render "form", campaign: @campaign, label: @label %>
  </div>

</div>
