<div class="campaign-grid">

  <ul class="campaign-cards">
    <% @campaigns.each do |campaign| %>
      <%= render 'campaign_card', campaign: campaign %>
    <% end %>
  </ul>

  <div class="twi-form">
    <%= render "form", campaign: @campaign, label: "Créer" %>
  </div>

</div>
